<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil/foto-perfil.jpg" alt="foto perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Maximiliano Jose Camargo</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptas, sunt aliquam dicta fuga unde
                facilis at quis. Assumenda debitis est eligendi beatae veritatis vitae ullam nihil tenetur expedita
                esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, asperiores sed ad aperiam
                nobis magnam corporis! Tempora ducimus, vel dolorum fugit excepturi quisquam animi quasi aliquam
                similique voluptas non error!</p>
        </span>
    </div>
</div>