<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../../../assets/hard-soft/html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../../../assets/hard-soft/css.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../../../assets/hard-soft/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../../../assets/hard-soft/git.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../../../assets/hard-soft/eng.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [titleColor]="'black'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../../../assets/hard-soft/grupal.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
        ></circle-progress>
    </div>
</div>
